@import "common/var";

@font-face {
  font-family: "hd-ui-icons";
  src: url('#{$--font-path}/iconfont.woff') format('woff'),
  url('#{$--font-path}/iconfont.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-weight: normal;
  font-style: normal;
}

[class^="hd-ui-icon-"], [class*=" hd-ui-icon-"] {
  font-family: "hd-ui-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hd-ui-icon-code:before {
  content: "\e6f2";
}

